@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #282c34;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 1rem;
}
h2 {
  font-size: 2rem;
  margin: 1rem 0;
}

.gameOn {
  font-family: 'Press Start 2P', cursive;
}
.typing {
  text-align: center;
  margin: 2rem 0;
}

#text {
  padding: 1rem;
  border: none;
  outline: none;
  border-radius: 2rem;
  background-color: #313d57;
  font-size: 2rem;
  color: #e0e0e0;
}
#text:disabled {
  cursor: not-allowed;
}

.btn {
  border: none;
  outline: none;
  padding: 0.8rem 2rem;
  cursor: pointer;
  border-radius: 2rem;
  font-size: 2rem;
}
.btn:active {
  transform: scale(0.9);
}
.btn:disabled {
  cursor: not-allowed;
}

.time {
  padding: 1rem;
  cursor: pointer;
  margin: auto;
}

#num {
  border: none;
  outline: none;
  padding-left: 1rem;
  border-radius: 2rem;
  font-size: 2rem;
  margin: 1rem auto;
  width: 10%;
  text-align: center;
}

.inputNum {
  display: none;
}

.newEL {
  margin: 1rem 0;
  background-color: #313d57;
  color: #fff;
  border-radius: 2rem;
  font-size: 1.5rem;
  padding: 1rem;
}

i {
  font-size: 2rem;
  animation: pointUp 1s alternate infinite ease-in-out;
}

@keyframes pointUp {
  100% {
    transform: translateY(-1rem);
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 2.2rem;
  }
  #text {
    font-size: 0.9rem;
  }

  #num {
    text-align: text;
    width: 15%;
  }

  .newEL {
    font-size: 1.2rem;
  }
}
